

<div class="border-bottom border-4 border-dark">
    <div class="container py-5">
        <div class="row">
            <div class="col-12 col-md-6 py-1 py-md-5 text-center text-md-start">
                <h1 class="display-1">Monkey Thoughts.</h1>
                <p class="fs-5 lh-1 text-muted fw-400 pb-5">
                    Channeling my inner thoughts about Tech, Physics and anything inbetween that holds my interest through this medium.
                </p>
                <button type="button" class="btn btn-dark rounded-pill fw-400 fs-5 px-4">
                   Take a Dive In!</button>
            </div>
        </div>
    </div>
</div>

